<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
			<div class="col-xs-12 text-center abcen1">
				<h1><span class="wow fadeIn" data-wow-delay="4.0s">L</span><span class="wow fadeIn" data-wow-delay="4.5s">y</span><span class="wow fadeIn" data-wow-delay="5.0s">f</span><span class="wow fadeIn" data-wow-delay="5.5s">e</span></h1>
				<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s"><strong class="wow fadeIn" data-wow-delay="4.0s">L</strong>ifest<strong class="wow fadeIn" data-wow-delay="4.5s">y</strong>le <span class="dot"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span> <strong class="wow fadeIn" data-wow-delay="5.0s">F</strong>ashion <span class="dot"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span> <strong class="wow fadeIn" data-wow-delay="5.5s">E</strong>vents</h3>

<!-- 		<ul class="list-inline intro-social-buttons">
					<li><a href="https://twitter.com/galantiandrea" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
					</li>
					<li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Free Download</span></a>
					</li>
				</ul> -->
				<br>
				<div class="col-lg-6 col-md-offset-3">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="Search for... Acts, Styles">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			</div> 



    </div>

    <div id="acts" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Lyfe Acts</h2>
				<p class="lead" style="margin-top:0">Trending events in your area.</p>
				
			</div>
			
			<div class="row">
			
				<div class="col col-md-6 col-md-offset-3">
					<%= link_to image_tag("acts/fitness.png", border: 0, class: 'img-border'), '/fitness' %>
					<br>
					<%= link_to image_tag("acts/festival.png", border: 0, class: 'img-border'), '#' %>
				</div>

				<div class="col col-md-3">
					<button class="btn btn-lg btn-default"><i class="fa fa-google" aria-hidden="true"></i>
 Sync Google Calendar</button>
				</div>
			</div><!-- /.row -->
		</div>
	</div>

    <div id="styles">

        <div class="container">

             <div class="row">
			 
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <%= image_tag("styles/nike.png", class:"img-responsive") %>
                </div>
			 
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Recommended Lyfe Styles</h3>
                    <p class="lead">A special thanks to Death to the Stock Photo for 
					providing the photographs that you see in this template. 
					</p>
					
			
				</div>           
            </div>
        </div>
    </div>

    <div id="styles">

        <div class="container">

             <div class="row">
			 
				<div class="col-sm-6 pull-right wow fadeInRightBig">
          <%= image_tag("styles/nike.png", class:"img-responsive") %>
        </div>
			 
        <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Recommended Lyfe Styles</h3>
          <p class="lead">A special thanks to Death to the Stock Photo for 
					providing the photographs that you see in this template. 
					</p>
					
					<ul class="descp lead2">
						<li><i class="glyphicon glyphicon-signal"></i> Reliable and Secure Platform</li>
						<li><i class="glyphicon glyphicon-refresh"></i> Everything is perfectly orgainized for future</li>
						<li><i class="glyphicon glyphicon-headphones"></i> Attach large file easily</li>
					</ul>
				</div>           
            </div>
        </div>
    </div>

        <!-- Navbar StickUp -->
    <script type="text/javascript">
      jQuery(function($) {
      $(document).ready( function() {
        $('.navbar-default').stickUp();
      });
    });
    </script>
</body>